/* css styles */

.button-row {
    display: flex;
    width: 100%;
  }

.button-row button {
    flex: 1;
    margin: 0;
  }

document.head.appendChild(style);

/// start od lumen bootstrap
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #158cba;
  --bs-btn-border-color: #158cba;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #12779e;
  --bs-btn-hover-border-color: #117095;
  --bs-btn-focus-shadow-rgb: 56, 157, 196;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #117095;
  --bs-btn-active-border-color: #10698c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #158cba;
  --bs-btn-disabled-border-color: #158cba;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #f0f0f0;
  --bs-btn-border-color: #f0f0f0;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f2f2f2;
  --bs-btn-hover-border-color: #f2f2f2;
  --bs-btn-focus-shadow-rgb: 204, 204, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f3f3f3;
  --bs-btn-active-border-color: #f2f2f2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f0f0f0;
  --bs-btn-disabled-border-color: #f0f0f0;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #28b62c;
  --bs-btn-border-color: #28b62c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #229b25;
  --bs-btn-hover-border-color: #209223;
  --bs-btn-focus-shadow-rgb: 72, 193, 76;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #209223;
  --bs-btn-active-border-color: #1e8921;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #28b62c;
  --bs-btn-disabled-border-color: #28b62c;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #75caeb;
  --bs-btn-border-color: #75caeb;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #63acc8;
  --bs-btn-hover-border-color: #5ea2bc;
  --bs-btn-focus-shadow-rgb: 138, 210, 238;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5ea2bc;
  --bs-btn-active-border-color: #5898b0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #75caeb;
  --bs-btn-disabled-border-color: #75caeb;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff851b;
  --bs-btn-border-color: #ff851b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d97117;
  --bs-btn-hover-border-color: #cc6a16;
  --bs-btn-focus-shadow-rgb: 255, 151, 61;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc6a16;
  --bs-btn-active-border-color: #bf6414;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff851b;
  --bs-btn-disabled-border-color: #ff851b;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff4136;
  --bs-btn-border-color: #ff4136;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9372e;
  --bs-btn-hover-border-color: #cc342b;
  --bs-btn-focus-shadow-rgb: 255, 94, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cc342b;
  --bs-btn-active-border-color: #bf3129;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff4136;
  --bs-btn-disabled-border-color: #ff4136;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f6f6f6;
  --bs-btn-border-color: #f6f6f6;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d1d1d1;
  --bs-btn-hover-border-color: #c5c5c5;
  --bs-btn-focus-shadow-rgb: 209, 209, 209;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c5c5c5;
  --bs-btn-active-border-color: #b9b9b9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f6f6f6;
  --bs-btn-disabled-border-color: #f6f6f6;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #555;
  --bs-btn-border-color: #555;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f6f6f;
  --bs-btn-hover-border-color: #666666;
  --bs-btn-focus-shadow-rgb: 111, 111, 111;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #777777;
  --bs-btn-active-border-color: #666666;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #555;
  --bs-btn-disabled-border-color: #555;
}

///
//.btn-success {
//  color: white !important;
//}

/// end of lumen bootstrap


.ojs-in-a-box-waiting-for-module-import .btn-success {
//  --bs-btn-color: white;
  color: white !important;
}

/* Neutralize Quarto's button styling */
.Xbtn-quarto {
  all: unset; 
}

/* Reapply Bootstrap's primary button styling */
.Xbtn .Xbtn-primary {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: #fff !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.listing .listing-image img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.button-row {
    display: flex;
    background-color: red;
    justify-content: space-between; /* Adjust to your needs: space-around, center, etc. */
}

Xbutton {
    flex: 1;        /* Equal width for all buttons */
    margin: 0 0px;  /* Adjust spacing between buttons */
}

.Xbtn {
    flex: 1;        /* Equal width for all buttons */
    margin: 0 0px;  /* Adjust spacing between buttons */
}

.container {
      display: flex;
      justify-content: space-evenly; /* Evenly distribute the items */
      align-items: center; /* Center items vertically */
/*      height: 100vh; /* Full viewport height to demonstrate vertical centering */
    }
    
.Xinput-field {
      flex: 1;
      margin-right: 10px;
    }
    
.Ximage {
      flex: 1;
      max-width: 100px; /* Adjust the size of the image as needed */
    }